.full-height{
  height: 100vh;
}

.half-height{
  
}

.typewrite {
  font-weight: bold;
  /*border-bottom: 4px solid #82B541;
  transition: border-color .3s ease-in-out;*/
}

.cursor {
  opacity: 1;
  animation: blink .7s infinite;
}

.port-view-more-blue {
  display: block;
  padding-top: 40px;
  padding-bottom: 37px;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  color: #4b4e53;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: 4px;
  transition: all .3s ease 0s;
}


.affix.header-1 #main-menu .navbar .nav > li.current > a {
  border-color: rgb(21, 132, 203);
}

.header-1 #main-menu .navbar .nav  > li.current > a {
  border-bottom: 2px solid rgb(21, 132, 203);
}

.main-menu-contact-icon {
  border: none;
  color: #4b4e53;
}

.menu-contact-info {
  color: #4b4e53;
  background-color: #fff;
}

.menu-contact-info .contact-list .a-mail {
  color: #4b4e53 !important;
  transition: all .3s ease 0s;
}

.menu-contact-info .contact-list .a-mail:hover {
  color: rgb(21, 132, 203) !important;
}

.menu-contact-text-container {
  padding-top: 9px;
}

.section-title {
  border-left:  rgb(21, 132, 203) 2px solid;
}


/* SERVICES BOXES */
.port-overlay-cont {
  opacity: 1;
}

.port-title-cont {
  opacity: 1;
}

.port-title-cont h2{
  color: #fff;
}

.port-btn-cont {
  opacity: 0;
}

.port-item:hover .port-overlay-cont .port-btn-cont {
  opacity: 1;
  color: #  ;
}

.white-border {
  border-bottom: 2px solid white;
}

.fes7-text-cont h1 {
  margin-bottom: 0px;
}

.logo-img{
  height: auto;
}

.logo-2 {
  width: 12em;
}

.work-proc-1-bg {
  /*background: #2c2c2c url(../images/oficina1.jpeg) fixed;*/
  background: #2c2c2c url(../images/oficina1.jpg) fixed;
  background-size: 100%;
}

.port-item .port-img-overlay:after {  
  background: rgba(4, 78, 161, 0.66);
}

.port-item:hover .port-img-overlay:after {
  background: rgba(0, 73, 157, 0.81);
  filter: brightness(40%);
}

.port-main-img{
  filter: grayscale(1);
}


 .owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}

.owl-wrapper {
  display: flex !important;
}


@media only screen and (max-width: 991px) {
    .work-proc-1-bg {
      background-position: right;
      background-size: cover;
    } 

    .logo-img {
      height: 42px;
    }

    .port-overlay-cont, .port-btn-cont {
      opacity: 1;
    }

    .port-btn-cont {
      color: #b9b9b9;
    }

    .port-title-cont h2 {
      font-size: 1.5em;
      margin: 15px 0 0 0;
    }

    ul.contact-list {
      padding-left: 0px;
    }

    .main-menu-contact-icon {
      padding: 12px 12px 12px 0;
    }

    .menu-contact-text-container {
      padding-left: 33px;
      padding-top: 8px;
    }

    /* OWL CAROUSEL WHO-WE-ARE */

    .fes7-img {      
      background-size: contain;
      width: 50%;    
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .fes7-img-cont {
      height: inherit;
    }

    .half-height{
      height: inherit;
    }

    .p-80-cont {
      padding: 1em;
    }

    .fes7-text-cont h1 {
      font-weight: bold;
      font-size: 2em;
      line-height: 1.3em;
      margin-bottom: 1em;
    }

    .mb-60 {
      margin-bottom: 0px !important;
    }
}

/* TYPEWRITER */

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}