.no-border {
  border-left: none !important;
}

.full-height{
  min-height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-end {
  display: flex;
  align-items: end;
}

.flex-baseline {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.clear-communication{
  padding-right: 3em;
}

.volcan {
  padding: 3em;
}

p, .blog2-post-prev-text, .icon-list li {
  text-align: justify;
}

blockquote {
  border-left: 2px solid rgb(21, 132, 203);
}

.page-title-cont.grey-dark-bg .bread-current {
  font-weight: bold;
}

.inner-link {
  transition: 0.3s;
}

.inner-link:hover {
  color: white;
  font-weight: 400;
}



/* HOME */

.as-nav-link {
  padding: 38px 3px 5px 3px;
  margin: 0 12px 17px 12px;
  border-bottom: 2px solid rgba(45,78,83,0);
  color: #4b4e53;
  letter-spacing: 2px;
  background-color: transparent;
}

.divider-bar {
  border-left: 1px solid;
  position: relative;
  height: 38px;
  top: 29px;
  transition: all .4s ease 0s, border-color .6s ease 0s;
  transform: translateZ(0);
}

.affix.header-1 #main-menu .navbar .nav > li.divider-bar {
  top: 11px;
  transition: all .4s ease 0s;
  transform: translateZ(0);
}

#main-menu .navbar .nav > li > a.lang.active, .affix.header-1 #main-menu .navbar .nav > li > a.lang.active {
  color: #4b4e53;
  font-weight: bolder;
}


.no-margin {
  margin: 0 !important;
}

.gray-background {
  padding: 1em;
  background: #eee;
  margin: 0;

}

.gray-background p {
  font-size: 1.3em;
}

.cd-headline {
  font-size: 2rem;
  line-height: 1.6em;
}

.cd-headline p.white-border {
    font-size: 3rem;
    letter-spacing: .7rem;
}

.typewrite {
  font-weight: bold;
  border-bottom: 2px solid #1584CB;
  transition: border-color .3s ease-in-out;
}


.light-72-wide {
  letter-spacing: 4px;
}

@media only screen and (min-width: 768px) {
  .gray-background {
    padding: 3em;
    background: #eee;
    margin: 2em;
  }
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
    line-height: 1.6em;
  }

  .cd-headline p.white-border {
    font-size: 6rem;
    letter-spacing: .7rem;
  }

  .typewrite {
    font-weight: bold;
    border-bottom: 4px solid #1584CB;
    transition: border-color .3s ease-in-out;
  }

  .light-72-wide {
    letter-spacing: 5px;
  }
}


@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 4rem;
  }

  .cd-headline p.white-border {
    font-size: 6rem;
    letter-spacing: 1.5rem;
  }

  .typewrite {
    font-weight: bold;
    border-bottom: 4px solid #1584CB;
    transition: border-color .3s ease-in-out;
  }

  .light-72-wide {
    letter-spacing: 6px;
  }
}


@media only screen and (max-width: 767px) {
  .full-width {
    width: 100%;
  }
}



.port-view-more-blue {
  display: block;
  padding-top: 40px;
  padding-bottom: 37px;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
  color: #4b4e53;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: 4px;
  transition: all .3s ease 0s;
}


.affix.header-1 #main-menu .navbar .nav > li.current > a {
  border-color: rgb(21, 132, 203);
}

.header-1 #main-menu .navbar .nav  > li.current > a {
  border-bottom: 2px solid rgb(21, 132, 203);
}

.main-menu-contact-icon {
  border: none;
  color: #4b4e53;
}

.menu-contact-info {
  color: #4b4e53;
  background-color: #fff;
}

.menu-contact-info .contact-list .a-mail {
  color: #4b4e53 !important;
  transition: all .3s ease 0s;
}

.menu-contact-info .contact-list .a-mail:hover {
  color: rgb(21, 132, 203) !important;
}

.menu-contact-text-container {
  padding-top: 9px;
}

.section-title, .inner-section-title {
  border-left:  rgb(21, 132, 203) 2px solid;
}


/* SERVICES BOXES */
.port-overlay-cont {
  opacity: 1;
}

.port-title-cont {
  opacity: 1;
}



.port-btn-cont {
  opacity: 0;
}

.port-item:hover .port-overlay-cont .port-btn-cont {
  opacity: 1;
  color: #d5d1d1;
}



/* END SERVICES*/

.white-border {
  border-bottom: 2px solid white;
}

.fes7-text-cont h1 {
  margin-bottom: 0px;
}

.logo-img{
  height: auto;
}

.logo-2 {
  width: 17em;
}

.header.affix .logo-2 {
  width: 12em;
}

.work-proc-1-bg {
  /*background: #2c2c2c url(../images/oficina1.jpeg) fixed;*/
  background: #2c2c2c url(../images/oficina1.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.port-item .port-img-overlay:after {
  background: rgba(4, 78, 161, 0.66);
}

.port-item:hover .port-img-overlay:after {
  background: rgba(0, 73, 157, 0.81);
  filter: brightness(40%);
}

.port-main-img{
  filter: grayscale(1);
}


 .owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.owl-item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}

.owl-wrapper {
  display: flex !important;
}

.dd-list {
  margin: 1.3em 0;
}

.fes7-img-cont {
  padding: 6em;
}

.fes7-img {
  position: initial;
  background-size: contain;
  background-position: top;
}

.logo-2.logo-services {
  width: 12em;
}

.page-title.services {
  font-size: 4em;
  line-height: 1em;
}

.post-prev-date-cont{
  top: 0px;
}



.blog2-post-title-cont .post-prev-title {
  padding: 0 0 15px 20px;
}

.mobile .port-overlay-cont {
  display: initial;
  visibility: visible;
}

.icon-search, .icon_search:before {
  display: none;
}

.port-title-cont h2{
  color: #fff;
  margin: 50px 0 18px 0;
  font-size: 1.7em;
  line-height: 1em;
}

.port-overlay-cont {
  padding: 2.2em;
}

.port-btn-cont p {
  font-size: .9em;
  line-height: 1.2em;
  letter-spacing: .3px;
}

.port-item:hover .port-main-img {
  transform: none;
}

.port-item .port-title-cont {
  margin-bottom: 15px;
}

.port-item .port-img-overlay:after {
  filter: brightness(40%);
}

.no-padding {
      padding: 0;
    }

@media only screen and (max-width: 991px) {
    .flex-center {
      display: initial;
    }

    .section-title-3.p-line {
      font-size: 1em;
      line-height: 1.6em;
      letter-spacing: .1rem;
    }

    .no-padding {
      padding: 0;
    }

    .post-prev-img img {
      width: 80%;
      display: block;
      margin: auto;
    }

    .page-title.services {
      font-size: 1.7em;
      line-height: 1.3em;
    }

    .no-padding {
      padding: 0;
    }

    .work-proc-1-bg {
      background-position: right;
      background-size: cover;
      background-attachment:scroll
    }

    .logo-img {
      height: 42px;
    }

    .port-overlay-cont, .port-btn-cont {
      opacity: 1;
    }

    .port-btn-cont {
      color: #e7e5e5;
    }

    .port-title-cont h2 {
      font-size: 1.5em;
      margin: 15px 0 0 0;
      color: #fefefe;
    }

    ul.contact-list {
      padding-left: 0px;
    }

    .main-menu-contact-icon {
      padding: 12px 12px 12px 0;
    }

    .menu-contact-text-container {
      padding-left: 33px;
      padding-top: 8px;
    }

    /* OWL CAROUSEL WHO-WE-ARE */

    .fes7-img {
      background-size: contain;
      width: 50%;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .fes7-img-cont {
      height: inherit;
      padding: 0;
    }

    .half-height{
      height: inherit;
    }

    .p-80-cont {
      padding: 1em 0;
      margin-bottom: 2em;
    }

    .fes7-text-cont h1 {
      font-weight: bold;
      font-size: 2em;
      line-height: 1.3em;
      margin-bottom: 1em;
    }

    .mb-60 {
      margin-bottom: 0px !important;
    }
}



@media only screen and (max-width: 768px) {
  .full-height{
    min-height: initial;
  }

  .blog2-post-title-cont .post-prev-title {
    margin-left: 90px;
  }

  .owl-next {
    right: -40px;
  }

  .owl-prev {
    left: -40px;
  }

  .owl-prev, .owl-next {
    top: 20%;
    opacity: 1;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px){
  #main-menu .navbar .nav > li > a {
    margin: 0 7px 17px 8px;
  }

  #main-menu .navbar .nav > li > a {
    font-size: 10px;
  }

}





@media only screen and (max-width: 600px) {}
@media only screen and (min-width: 601px) and (max-width: 900px) {}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .icon-search {
    display: none;
  }
  .port-title-cont h2{
    color: #fff;
    margin: 50px 0 18px 0;
    font-size: 1.7em;
    line-height: 1em;
  }

  .port-item:hover .port-overlay-cont {
    top: -50px;
  }

  .port-overlay-cont {
    padding: 2.2em;
  }

  .port-btn-cont p {
    font-size: .9em;
    line-height: 1.2em;
    letter-spacing: .3px;
  }

  p, .blog2-post-prev-text, .icon-list li {
    text-align: justify;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: .2px;
  }

  .who-we-are-p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .menu-contact-info .contact-list {
    font-size: 1em;
  }

  .breadcrumbs {
    font-size: 13px;
  }

  .blog-post .post-prev-text p {
    font-size: 1.5rem;
  }

  blockquote i{
    font-size: 2.5rem;
  }

  blockquote {
    margin-bottom: 4em;
  }

  .page-title.services {
    font-size: 3.8em;
  }

  .inner-section-title {
    font-size: 1.6em;
  }


  .related-posts .post-prev-title h3 {
    font-size: 1.3em;
    margin-bottom:1em;
  }

  .icon-list li {
    line-height: 1.5em;
    margin: .3em 0;
  }

  .gray-background p {
    font-size: 1.6em;
  }

  .port-view-more-blue {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1800px) {
  .port-title-cont h2{
    color: #fff;
    margin: 80px 0 18px 0;
    font-size: 2.2em;
    line-height: 1em;
  }

  .port-item:hover .port-overlay-cont {
    top: -70px;
  }

  .port-btn-cont p {
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: .4px;
  }

  p, .blog2-post-prev-text, .icon-list li {
    text-align: justify;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: .5px;
  }

  .who-we-are-p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .menu-contact-info .contact-list {
    font-size: 1.2em;
  }

  .breadcrumbs {
    font-size: 13px;
  }

  .blog-post .post-prev-text p {
    font-size: 1.5rem;
  }

  blockquote i{
    font-size: 2.5rem;
  }

  blockquote {
    margin-bottom: 4em;
  }

  .page-title.services {
    font-size: 3.8em;
  }

  .inner-section-title {
    font-size: 1.6em;
  }


  .related-posts .post-prev-title h3 {
    font-size: 1.3em;
    margin-bottom:1em;
  }

  .icon-list li {
    line-height: 1.5em;
    margin: .3em 0;
  }

  .gray-background p {
    font-size: 1.6em;
  }

  .port-view-more-blue {
    font-size: 1.7em;
  }

}
@media only screen and (min-width: 1801px) {
  .port-title-cont h2{
    color: #fff;
    margin: 80px 0 18px 0;
    font-size: 2.5em;
    line-height: 1em;
  }

  .port-item:hover .port-overlay-cont {
    top: -50px;
  }

  .port-btn-cont p {
    font-size: 1.3em;
    line-height: 1.4em;
    letter-spacing: .6px;
  }

  p, .blog2-post-prev-text, .icon-list li {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.3em;
    letter-spacing: .6px;
  }

  .menu-contact-info .contact-list {
    font-size: 1.2em;
  }

  .breadcrumbs {
    font-size: 15px;
  }

  .blog-post .post-prev-text p {
    font-size: 1.7rem;
  }

  blockquote i{
    font-size: 2.7rem;
  }

  blockquote {
    margin-bottom: 4em;
  }

  .page-title.services {
    font-size: 4.5em;
  }

  .inner-section-title {
    font-size: 1.6em;
  }


  .related-posts .post-prev-title h3 {
    font-size: 1.3em;
    margin-bottom:1em;
  }

  .icon-list li {
    line-height: 1.5em;
    margin: .3em 0;
  }

  .gray-background p {
    font-size: 1.6em;
  }

  .port-view-more-blue {
    font-size: 2em;
  }

}




